@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';
.style-image {
    padding: 20px;
    margin: 20px;
    float: center;
    width: 350px;
    background-color: greenyellow;
    border-radius: 30px;
    display: inline-block;
}

.style-text {
    padding: 10px;
    margin: 10px;
    float: center;
    width: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
}

.style-price {
    padding: 10px;
    margin: 10px;
    float: center;
    width: 250px;
    color: red;
    display: inline-block;
}